---
import { styled } from '@mui/material/styles';
import Box from '@mui/material/Box';
import Paper from '@mui/material/Paper';
import Grid from '@mui/material/Grid';

import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
blah blah blah
`;


const Item = styled(Paper)(({ theme }) => ({
  backgroundColor: '#fff',
  ...theme.typography.body2,
  padding: theme.spacing(1),
  textAlign: 'center',
  color: (theme.vars ?? theme).palette.text.secondary,
  ...theme.applyStyles('dark', {
    backgroundColor: '#1A2027',
  }),
}));
---

<Layout title="Welcome to Astro.">
    <h1 class="mb-10">les song books de Laurent</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <!-- <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p> -->


    <Grid container spacing={2}>
  <Grid size={4}>
        <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
  </Grid>
  <Grid size={4}>
        <p>
        <a href="/move-the-line" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
  </Grid>
  <Grid size={4}>
        <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
  </Grid>

</Grid>
</Layout>
