---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Sunny Bd">
    <h1 class="mb-10">Sunny Bd</h1>

    <li>
        <ul>
            <p>
              concert de janvier 2026 :
                <a href="/Sunny-Bd-janvier-2026.pdf" target="_blank">Sunny-Bd-janvier-2026.pdf</a>
            </p>
        </ul>
    </li>

    <!-- <iframe 
  src="/Sunny-Bd-janvier-2026.pdf" 
  width="10%" 
  height="10%"
  title="Sunny-Bd-janvier-2026" 
/> -->

    <!-- <PDFViewer client:load url="/Sunny-Bd-janvier-2026.pdf" /> -->
</Layout>
