---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Move The Line">
    <h1 class="mb-10">Move The Line</h1>

    <ul>
        <li>
            <p>
                concert de juin 2025 au Truskell :
                <a href="/MTL-concert-truskell-2025-06-06.pdf" target="_blank">MTL-concert-truskell-2025-06-06.pdf</a>
            </p>
        </li>
    </ul>
    
    <!-- <iframe 
  src="/MTL-concert-truskell-2025-06-06.pdf" 
  width="100%" 
  height="100%"
  title="truskell-2025-06-06" 
/> -->

    <!-- <PDFViewer client:load url="/MTL-concert-truskell-2025-06-06.pdf" /> -->
</Layout>
